<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>WebApp</title>
    <meta name="description" content="WebApp description">

    <!-- See https://goo.gl/OOhYW5 -->
    <!-- <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/src/WebApp-app/WebApp-app.html"> -->
    
  </head>
  <body class="fullbleed layout vertical"> <!--  style="background-color: #EDEDF4;"> -->
    <!-- <WebApp-app></WebApp-app> -->
    <p> hello </p>

    <p id="content"></p>

    <div class "signIn">        <!-- return false -->
      <form onsubmit="index_create(); return false;" method="post">
        <br>Username: <input type="text" name="email" id="index_email_input">
        <br>Password: <input type="password" name="password" id="index_password_input">
        <p><input type="submit" value="Login" id="index_submit"></p>
        <p><input type="hidden" value="{{prevURL}}" name="prevURL" id="prevURL"></p>
      </form>
    </div>



    {% block javascript %}
    <script src="/static/js/index.js"></script>
    {% endblock %}


  </body>
</html>
