

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Login</title>    

    <meta name="description" content="WebApp description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <script src="/static/js/contacts.js"></script> 
    <script src="/static/js/skype-uri.js"></script> 

    <link rel="import" href="/static/src/WebApp-app/WebApp-app.html">
   
  </head>

  <body class="fullbleed layout vertical" id="body"> <!--  style="background-color: #EDEDF4;"> -->
  <WebApp-app></WebApp-app>
  {% if name %}
    <script type="text/javascript">
      $(document).ready(function(){
        document.getElementsByTagName('webapp-app')[0].page = '{{name}}';
      });
    </script>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}

  </body>
</html>
