

<p id="content"></p>

<div class "signIn">				<!-- return false -->
	<form onsubmit="login_create(); return false;" method="post">
		<br>Username: <input type="text" name="email" id="login_username_input">
		<br>Password: <input type="password" name="password" id="login_password_input">
		<p><input type="submit" value="Login" id="login_submit"></p>
		<p><input type="hidden" value="{{prevURL}}" name="prevURL" id="prevURL"></p>
	</form>
</div>



{% block javascript %}
<script src="/static/js/login.js"></script>
{% endblock %}
