<title>Sign Up</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
<!-- <script src="scripts/jquery.min.js"> </script>
 -->
<body id = "body">
<h3 class = "title"></br>AmbulanceStream</h3>

	<p id="content"></p>

	<div class  = "signIn">
		<form onsubmit="signup_create(); return false;" method="post">
		  </br><div>I Am:</div></br>
		  <button type = "button" >An EMT</button>          <button type = "button" >A Doctor</button>
		  </br></br><div>My Name Is:</div>
		  </br><input placeholder="title" type="text" name="title" id="signup_title_input" style="height:40px;width:50px;font-size:12pt;text-align:center;">  <input placeholder="first name" type="text" name="firstName" id="signup_firstName_input" style="height:40px;width:200px;font-size:12pt;text-align:center;">  <input placeholder="last name" type="text" name="lastName" id="signup_lastName_input" style="height:40px;width:250px;font-size:12pt;text-align:center;">
		  </br></br><div>My Skype User Name Is:</div>
		  </br><input placeholder="username" type="text" name="skypeUserName" id="signup_skypeUserName_input" style="height:40px;width:250px;font-size:12pt;text-align:center;">
		  </br></br><div>My Email Is:</div>
		  </br><input placeholder="email" type="text" name="email" id="signup_email_input" style="height:40px;width:250px;font-size:12pt;text-align:center;">
		  </br></br><div>My Password Will Be:</div>
		  </br><input placeholder="password" type="password" name="password" id="signup_password_input" style="height:40px;width:250px;font-size:12pt;text-align:center;">
			</br></br</br></br><div>The Hospital I Work at Is:</div></br>
			<div class="dropdown">
			<button onclick="return hospitalFunction();" class="dropbtn">Hospital List</button>
				<div id="hospitalDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="hospitalInput" onkeyup="hospitalfilterFunction()">
					<div class = "dropChoices">
					<a href="#umich">University of Michigan Hospital</a>
					<a href="#emu">Eastern Michigan University Hospital</a>
					<a href="#aa">Ann Arbor Children's Hospital</a>
					</div>
				</div>
			</div>
			</br></br</br></br><div>My Specialty Is:</div></br>
			<div class="dropdown">
			<button onclick="return specFunction();" class="dropbtn">Specialties</button>
				<div id="specDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="specInput" onkeyup="specfilterFunction()">
					<div class = "dropChoices">
					<a href="#card">Cardiology</a>
					<a href="#emu">Orthopedic Surgery</a>
					<a href="#aa">Gastroenterology</a>
					<a href="#umich">Dermatology</a>
					<a href="#emu">Anesthesiology</a>
					<a href="#aa">Plastic Surgery</a>
					</div>
				</div>
			</div>
			
			
			<p><input type="submit" value="Sign Up" id="signup_submit"></p>
			<p><input type="hidden" value="{{prevURL}}" name="prevURL" id="prevURL"></p>
		</form>
	</div>

{% block javascript %}
<script src="/static/js/signup.js"></script>
{% endblock %}
</body>
